@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.68;
    color: #888;
}
#header {
    background:#000;
}

.top-header {
    border-bottom: 1px solid #262626;
    background: #000;
    height: 55px;
    padding: 0 5px 0 10px;
}
.top-header .donv-login>li {
    padding: 0 10px !important;
    line-height: 55px;
    border-left: 1px solid #262626;
}
.top-header .item-dropdown a {
    color: #666;
    font-size: 14px;
}
.top-header .item-dropdown a:hover {color:#bbb;}
.top-header p {
    color:#666;
    margin: 0;
    line-height: 55px;
}
.top-header .menu-footer-vertical {
    float: right;
}
.top-header .title-menu-ft {display:none;}
.top-header .icon-social a {
    width: auto;
    border: 0;
    border-radius: 0px;
    margin-left: 20px !important;
    line-height: 55px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.top-header .icon-social i {font-size:20px;}
.menu-footer-vertical .icon-social a:hover {
    color: #ba933e;
    border: none;
}
.donv-login {
    margin: 0 0 0 -15px;
}
.nav_desktop li a {
    color: #ccc;
    font-size: 15px;
    font-weight: 500;
}
a.btn-show-search, .nav-right .dropdown-toggle {
    color: #ccc;
}
.nav_desktop {
    float: left;
}
.title-mid-banner {margin-top:30px;}
.banner-mid-page {padding:30px 0;}
.banner-mid-page .col-sm-4 .dv-item-module + .dv-item-module {
    margin-top: 30px;
}
.banner_main .promo-text {
    display: none;
}
.banner_main {
    position: relative;
}
.banner_main a:before {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all 0.4s ease 0s;
  transform: scale(0) rotateX(-135deg);
  -ms-transform: scale(0) rotateX(-135deg);
  -webkit-transform: scale(0) rotateX(-135deg);
}
.banner_main:hover a:before {
  transform: scale(1) rotateX(0deg);
  -ms-transform: scale(1) rotateX(0deg);
  -webkit-transform: scale(1) rotateX(0deg);
}
.banner_main .item {
    position: relative;
    overflow: hidden;
}
.banner_main .text-content {
    position: absolute;
    bottom: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
.banner_main .text-content h4,
.banner_main .text-content h5,
.banner_main .text-content p
{
    font-size: 23px;
}
.banner_main .text-content h4 {
    font-weight:200;
    color: #1d1d1d;
}
.banner_main .text-content h5 {
    color:#3c3c3c;
    font-weight:700;
}
.banner_main .text-content p {
    font-weight: 100;
    border-top: 1px solid #1d1d1d;
    display: inline-block;
    margin-top: 10px;
    color: #1d1d1d;
}
.banner_main .overlay {
    background: rgba(255,255,255,.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}
.box-product .slogan {
    text-align: center;
    color: #888;
    font-size: 14px;
    word-spacing: 2px;
    font-weight: 500;
}
.box-product .title-block-product {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-transform: none;
}
.box-product .icon-title-1 {display:none;}
.tabs-block>.nav_title>li.active>a, .tabs-block>.nav_title>li.active>a:focus, .tabs-block>.nav_title>li.active>a:hover {
    color: #ba933e;
    border: none;
    text-transform: none;
    font-size: 17px;
    font-weight: 600;
}
.box-product-style2 .nav_title li.active a, .box-product-style2 .nav_title li a:hover {
    color: #ba933e;
}
.tabs-block>.nav_title>li>a {
    font-size: 17px;
    color: #333;
    font-weight: 600;
    text-transform: none;
    border: none;
}
@media (min-width: 768px) {
    .daily-deal {
        background:url(/uploads/plugin/custom_img/2018-06-13/custom-new-daily-deal-bg.jpg) top center no-repeat;
        background-size: cover;
    }
}
@media (max-width: 768px) {
    
    .customer-reviews {
        padding: 30px 32px !important;
    }
    .customer-reviews .owl-theme .owl-controls {
        right: 0 !important;
        opacity:1 !important;
    }
    .mighty-slider {
        margin: 0 !important;
        height: 200px !important;
    }
    .box-customer {margin-bottom:20px;}
}

.daily-deal .title-block-product {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-transform: none;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 40px;
}
.daily-deal .icon-title-1 {display:none;}
.daily-deal .slogan {
    color: #ba933e;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 40px;
}
.daily-deal .title-product a {
    color: #fff;
}
.daily-deal .price-inline p {
    color: #fff;
}
.img>.action-product>.item-action:hover {
    background-color: #ba933e;
}
.title-product a:hover, .title-blogs-item a:hover, .nav_desktop li.active a, .nav_desktop li a:hover {color:#ba933e !important;}
.customer-reviews {
    background:#040404;
    border-bottom: 2px dotted #292929;
    padding: 50px 0
}
.customer-reviews .box-product-style2 h3 {
    font-size: 18px;
    color: #ddd;
    font-weight: 600;
    text-transform: none;
}
.customer-reviews .box-product-style2 .tab-product {
    border-bottom: none;
    margin-left: -15px;
}
.customer-reviews .owl-theme .owl-controls {
    top: 5px;
    position: absolute;
    right: 20px;
    left: 0;
}
.customer-reviews .slider-product>.owl-controls>.owl-buttons>div.owl-prev {
    left: auto;
    right: 33px;
}
.customer-reviews .style-view-small .title-product a {
    color: #ddd;
}
.customer-reviews .price-well {
    color: #fff;
}
.customer-reviews .slider-product>.owl-controls>.owl-buttons>div {
    width: 28px !important;
    height: 28px;
    background-color: #ba933e;
    padding: 0 11px;
    line-height: 28px;
    font-size: 13px;
    opacity: 1;
    border-radius: inherit;
}
.customer-reviews .slider-product>.owl-controls>.owl-buttons>div.owl-next {
    right: 0;
}
.customer-reviews .box-product .owl-controls {opacity:0;}
.customer-reviews .box-product:hover .owl-controls {opacity:1;}
.customer-reviews .box-customer h3.title {
    font-size: 18px;
    color: #ddd;
    padding-bottom: 30px;
    font-weight: 600;
    margin-top: 10px;
}
.customer-reviews .owl-controls>.owl-buttons>div.owl-prev:before,
.customer-reviews .owl-controls>.owl-buttons>div.owl-next:before{
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.customer-reviews .box-customer .customer-image {
    float: left;
}
.customer-reviews .box-customer .customer-image img {
    height: 82px;
    width: 82px;
    border: 2px solid #ba933e;
    border-radius: 50%;
}
.customer-reviews .box-customer .customer-info {
    padding-top: 21px;
    padding-left: 102px;
}
.customer-reviews .box-customer .customer-info .name {
    color: #ddd;
    margin-bottom: 4px;
}
.customer-reviews .box-customer .customer-info .date {
    color: #888;
    font-size: 13px;
    font-style: italic;
}
.customer-reviews .box-customer .comment {
    color: #888;
    clear: both;
    display: block;
    padding-top: 20px;
    line-height: 26px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #040404;
}
.top-banner-subpage {
    min-height: auto;
    background-image: none !important;
}
.top-banner-subpage div {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left;
}
.top-banner-subpage .title-main h1 {display:none;}
.top-banner-subpage a {
    color: #040404;
}
.product-detail {
    margin-top: 10px;
}
.view-style .btn-view.active {
    color: #ba933e;
}
.col_left {margin-top:10px;}
#footer {
    background: #040404 !important;
}
#footer .address-ft p, #footer  .about-desc, #footer  .menu-footer-vertical a {
    color: #999;
    font-weight: 500;
}
.title-menu-ft {
    color: #ddd;
    font-size: 20px;
    text-transform: none;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}
.title-menu-ft:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #ba933e;
}

.backtop {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    text-align: center;
    background-color: rgba(2,2,2,0.7);
    
    position: fixed;
    bottom: 40px;
    z-index: 999;
    top: auto !important;
    line-height: 50px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.backtop .fa {
    color: #fff;
    font-size: 20px;
}

.backtop.show {
    opacity: 1
}
@media (min-width: 1441px) {
    .backtop {
        right: 15px;
        bottom: 40px;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .backtop {
        right: 15px;
        bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .backtop {
        right: 25px;
        bottom: 40px
    }
    .item-blogs .desc-blogs {
        height: 70px;
    }
    
}
@media (max-width: 480px) {
    #main > div[id^="content-row-"]:nth-child(2) .view-style {
        display: block;
    }
    .box-detail-list-product .list-item:nth-child(2n+1) {
        clear: both;
    }
}
.all-product .owl-controls>.owl-buttons>div.owl-next,
.daily-deal .owl-controls>.owl-buttons>div.owl-next{
    right:-12px !important;
}
.all-product .owl-controls>.owl-buttons>div.owl-prev,
.daily-deal .owl-controls>.owl-buttons>div.owl-prev{
    left:-10px !important;
}
.all-product .owl-controls>.owl-buttons>div.owl-prev:before,
.daily-deal .owl-controls>.owl-buttons>div.owl-prev:before {
    content: '\eace';
    color: #040404;
}
.all-product .owl-controls>.owl-buttons>div.owl-next:before,
.daily-deal .owl-controls>.owl-buttons>div.owl-next:before {
    content: '\eacd';
    color: #040404;
}
.all-product .owl-theme .owl-controls .owl-buttons div,
.daily-deal .owl-theme .owl-controls .owl-buttons div {
    width: 50px !important;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    border: 2px solid #474747;
    opacity:0.9;
}
.all-product .owl-theme .owl-controls .owl-buttons div:hover,
.daily-deal .owl-theme .owl-controls .owl-buttons div:hover {
    border-color:#ba933e;
    background:#ba933e;;
}
.owl-theme .owl-controls .owl-buttons div:hover:before {
    color:#fff;
}
.slider-thumb .item{
    margin: 0 3px;
    padding: 2px;
}
.thub-image{margin-top: 10px;}
#main > div[id^="content-row-"]:nth-child(2) .item_block {
    padding-bottom: 0;
}
.welcome {
    padding: 15px 0;
}
.welcome .img_intro1 {
    position: relative;
    top: 0;
    display: none;
    z-index: 2;
}
.welcome .img_intro1 img {
    height:auto;
}
.welcome .box_content {
    margin-top: 0;
}
.welcome .box_bor_style1 {
    border: none;
    padding: 0;
    width: 100%;
    left: 0;
    position: relative;
    height: auto !important;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}
.welcome .title_style1 h2 {
    font-size: 30px;
    margin: 20px 0 10px 0;
    color: #000;
    font-weight: 700;
}
.breadcrumb>li+li:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #323c3f;
}

@media (max-width: 500px) {
    .top-header {
        height: 40px;
    }
    .top-header p {
        font-size:11px;
        line-height:40px;
    }
    .top-header .item-dropdown a {
        font-size: 11px;
    }
    .top-header .donv-login>li {
        line-height: 40px;
    }
    #header .logo {
        padding-left: 0;
    }
    .navbar-header {text-align:center;}
    .box-search-mobile .box-search {
        padding: 5px;
    }
    .mighty-slider {
        height: 150px !important;
    }
    .title-mid-banner {
        margin-top: 10px;
    }
    .box-product .title-block-product,
    .daily-deal .title-block-product{
        font-size: 25px;
    }
    .all-product .owl-controls>.owl-buttons>div.owl-prev, .daily-deal .owl-controls>.owl-buttons>div.owl-prev {
        left: 0 !important;
    }
    .all-product .owl-controls>.owl-buttons>div.owl-next, .daily-deal .owl-controls>.owl-buttons>div.owl-next {
        right: 0 !important;
    }
    .title-blogs-item {
        height: auto !important;
    }
    .title-blogs-item a {
        font-size: 13px;
    }
    .item-product .info {
        height: 70px;
    }
}
#main > div[id^="content-row-"]:nth-child(2) .title-blogs-item {
        line-height: 30px;
        height: auto !important;
        width: 99%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin: 0;
}

.product-detail .view-images-large {
    height: auto;
    border: 1px solid #dedede;
    float: left;
    width: 75%;
}
.product-detail .thub-image {
    position: relative;
    float: right;
    width: 25%;
    margin-top: 0;
    padding: 0 10px;
}
.product-detail .owl-carousel .owl-item {
    float: none;
    width:100% !important;
}
.product-detail .owl-carousel .owl-wrapper {
    width: 100% !important;
}
.description-product-detail ul, .description-product-detail li{line-height: 2.5;}
.box-detail-post.top-post img{
    display: none;
}